<section class="text-center text-lg-start">
    <div class="d-flex justify-content-center mt-5">
        <div class="w-75">
            <div class="row">
                <h1 class="text-center my-title">MY EDITS HISTORY DETAILS</h1>
            </div>
            <div class="row mb-3 mt-5 ">
                <div nz-row class="table-container custom-scroll">
                    <div nz-col nzSpan="24" class="inner-table-container">
                      <nz-table #employeesDetailTable [nzData]="myEdits?.content" [nzPageSize]="7">
                        <thead>
                          <tr>
                            <th>Input</th>
                            <th>Instruction</th>
                            <th>Output</th> <!-- Adjusted column order -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of employeesDetailTable.data" class="row-data">
                            <td class="col-fixed-70-perc align-text-left">{{ item.edits.inputText }}</td>
                            <td class="align-text-left">{{ item.edits.instruction }}</td> <!-- Moved instruction column here -->
                            <td class="align-text-left">{{ item.edits.outputText }}</td> <!-- Adjusted column order -->
                          </tr>
                        </tbody>
                      </nz-table>
                    </div>
                  </div>                
            </div>
        </div>
    </div>
</section>