.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

.style-cdd
{
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
}

.response-container {
  padding-top: 250px;
  margin-top: 20px;
  text-align: center;
  font-size: 88px;
  color: #333;
}

.positive-statement {
  color: green;
}

.negative-statement {
  color: red;
}

.neutral-statement {
  color: #004a9f;
}
.my-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px; /* Adjust font size as needed */
  margin: 40px 0;
  text-align: center;
  color: #337ab7; /* Adjust color as desired */
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


