<section class="text-center text-lg-start">
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right style-cdd">
                    <div class="card-body p-5 shadow-5 text-center">
                        <form [formGroup]="addRegisterGroup">
                            <h2 class="fw-bold mb-5">Sign up now</h2>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="firstName" class="form-control"
                                            htmlFor="firstName" formControlName="firstName">
                                        <label class="form-label" htmlFor="firstName">First name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="lastName" class="form-control"
                                            htmlFor="lastName" formControlName="lastName">
                                        <label class="form-label" htmlFor="lastName">Last name</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="email" id="email" class="form-control"
                                    htmlFor="email" formControlName="email">
                                <label class="form-label" htmlFor="email">Email address</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="password" class="form-control"
                                    htmlFor="password" formControlName="password"/>
                                <label class="form-label" htmlFor="password">Password</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="confirmPassword" class="form-control"
                                    htmlFor="confirmPassword" formControlName="confirmPassword"/>
                                <label class="form-label" htmlFor="form3Example4"
                                    htmlFor="confirmPassword">Confirm
                                    Password</label>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block mb-4"
                                    (click)="onRegisterSubmit()">
                                Sign up
                            </button>
                            <div>
                                <a href="/login" class="link-primary">Already have account?</a>
                            </div>
                            <div>
                                <!-- {{errorMessage}} -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="https://i.imgur.com/roU4fxw.jpg"
                     class="w-100 rounded-4 shadow-4"
                     alt=""/>
            </div>
        </div>
    </div>
</section>