<section class="text-center text-lg-start">
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="https://i.imgur.com/roU4fxw.jpg"
               class="w-100 rounded-4 shadow-4"
               alt=""/>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right style-cdd">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Log in</h2>
              <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control"
                       name="email" [(ngModel)]="email"/>
                <label class="form-label" for="email">Email address</label>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control"
                       name="password" [(ngModel)]="password"/>
                <label class="form-label" for="password">Password</label>
              </div>
              <button type="submit" class="btn btn-primary btn-block mb-4"
                      (click)="handleSubmit()">
                Log in
              </button>
              <div>
                 <a routerLink="/register" class="link-primary">No account? Register here!</a>
                <br>
                 <a class="link-primary" (click)="sendRecoveryAccountPassword()">Forgot Password?</a>
              </div>
              <div>
                {{ errorMessage }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
