:host {
  display: block;
  text-align: center;
  padding: 1rem;
}

.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.legend-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.legend {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.legend-label {
  font-size: 14px;
}
