<section class="text-center text-lg-start">
  <h1 class="text-center my-title">TRANSLATOR WITH AI MODEL</h1>
  <div class="d-flex justify-content-center mt-5">
    <div class="w-50">
      <div class="row mb-3">
        <div class="col">
          <input type="text" id="sentence" class="form-control"
                 name="sentence" [(ngModel)]="sentence"/>
          <label class="form-label" for="sentence">Sentence</label>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <select id="selectedLanguage" class="form-select" name="selectedLanguage" [(ngModel)]="selectedLanguage">
            <option value="hr">Croatian</option>
            <option value="fr">French</option>
            <option value="mk">Macedonian</option>
          </select>
          <label class="form-label" for="selectedLanguage">Language</label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary btn-block"
                  (click)="submitForm()">
            Submit
          </button>
        </div>
        <div class="d-flex justify-content-center response-container">
          <div>
            {{ response }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
